# Frontend environment variables
# Adjust these as needed; copy to .env
VITE_BACKEND_PORT=4000
VITE_BACKEND_HOST=localhost
VITE_BACKEND_PROTOCOL=http


# for docker setup
VITE_API_URL=http://localhost:3000/api
